<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ZakladTransportowy" connectionString="Server=localhost; database = zaklad_transportowy; Uid= Domyslny;Pwd=domyslny;"/>
		<add name ="Klient" connectionString="Server=localhost; database = zaklad_transportowy; Uid= Klient;Pwd=kLient12;"/>
		<add name ="Pracownik" connectionString="Server=localhost; database = zaklad_transportowy; Uid= Pracownik;Pwd=pRacownik12;"/>
		<add name ="Właściciel" connectionString="Server=localhost; database = zaklad_transportowy; Uid= Właściciel;Pwd=sZef12;"/>
		<add name ="Kierownik" connectionString="Server=localhost; database = zaklad_transportowy; Uid= Kierownik;Pwd=kIerownik12;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>